<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" type="text/css" href="//kenwheeler.github.io/slick//slick/slick.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.createjs.com/soundjs-0.6.2.min.js"></script>
    <script type="text/javascript" src="//kenwheeler.github.io/slick//slick/slick.js"></script>

    <script src="/js/nipplejs.js"></script>
</head>

<body>
    <div class="splashScreen">
        <div>loading</div>
    </div>
    <form class="setUserName">
        <div>
            <h3 class="title">당신의 이름을 입력해주세요.</h3>
            <input placeholder="최대 8글자" maxlength="8" type="text" name="" id="">
            <button type="submit">계속한다</button>
        </div>
    </form>
    <div class="waitForReady">
        <div>
            대기중입니다...
        </div>
    </div>
    <form class="joinGame">
        <div>
            <h3>게임이 준비되었습니다.</h3>
            <div class="joinGame-selectCharacter">
                <div>
                    <img src="/img/c1/cha_01_left_01.png" alt="">
                </div>
                <div>
                    <img src="/img/c2/cha_02_left_01.png" alt="">
                </div>
            </div>
            <button type="submit">계속한다</button>
        </div>
    </form>
    <div class="gamePlay">
        <div id="gamePlay-pad-left" class="gamePlay-pad gamePlay-pad-left">

        </div>
        <div id="gamePlay-pad-right" class="gamePlay-pad gamePlay-pad-right">

        </div>
    </div>

    <script src="/js/index.js"></script>
</body>

</html>