<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/js/nipplejs.js"></script>
</head>

<body>
    <form class="setUserName">
        <div>
            <h3 class="title">당신의 이름을 입력해주세요.</h3>
            <input placeholder="최대 8글자" maxlength="8" type="text" name="" id="">
            <button type="submit">계속한다</button>
        </div>
    </form>
    <div class="waitForReady">
        <div>
            대기중입니다...
        </div>
    </div>
    <div class="gamePlay">
        <div id="gamePlay-pad-left" class="gamePlay-pad gamePlay-pad-left">

        </div>
        <div id="gamePlay-pad-right" class="gamePlay-pad gamePlay-pad-right">

        </div>
    </div>
    <script src="/js/index.js"></script>
</body>

</html>

